<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fast Portal</title>
    <link rel="shortcut icon" href="/static/keli.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/dropzone-basic.min.css" />
    <link rel="stylesheet" href="/static/dropzone.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
  </head>

  <body style="padding: 10px">
    <div class="container">
      <div id="upload-file">
        <div class="mb-3 dropzone" id="dropfile">
          <div class="preview-container" style="display: flex; flex-wrap: wrap"></div>
        </div>
        <div class="row g-3">
          <button type="submit" class="btn btn-primary mb-3 col-auto" id="submit_file" disabled>上传</button>
          <div class="col-auto">
            <input type="text" class="form-control" id="cmd" placeholder="Command" />
          </div>
          <button type="submit" class="btn btn-primary mb-3 col-auto" id="cmd-btn">执行</button>
          <div class="col-auto" id="cmd-result"></div>
        </div>
        <div class="progress-outside" style="display: flex; align-items: center; opacity: 0; margin: 10px 0">
          <span class="upload-remain" style="margin-right: 10px">0:00:00s</span>
          <div class="progress" style="width: 100%">
            <div class="progress-inner progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">
              0%
            </div>
          </div>
          <span class="upload-speed" style="margin-left: 10px">0 KB/s</span>
        </div>
      </div>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item"><a href="/?name=../" id="prev">..</a></li>

        {% for file in files %}
        <li class="list-group-item">
          <a href="{{ url_for('index', name=file|urlencode) }}">{{file.name}}</a>
          {% if file.is_file()%} &nbsp;&nbsp;{% with size=(file.stat().st_size / 1024) %}
          <span>{{size|round(2)|string +'KB' if size < 1024 else (size / 1024)|round(2)|string +'MB'}}</span>
          {% endwith %} &nbsp;&nbsp;
          <a class="badge text-bg-primary" href="{{ url_for('index', name=file|urlencode) }}" download>下载</a>
          {% endif %}
          <a class="badge text-bg-danger" href="{{ url_for('del_file', path=file|urlencode) }}">删除</a>
        </li>
        {% endfor %}
      </ol>
    </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/dropzone.min.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>
