<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fast Portal</title>
    <link rel="shortcut icon" href="/static/keli.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dropzone-basic.min.css">
    <link rel="stylesheet" href="/static/dropzone.min.css">
</head>

<body style="padding: 10px;">
    <div class="container">
        <div id="upload-file">
            <div class="mb-3 dropzone" id="dropfile">
                <div class="preview-container" style="display: flex; flex-wrap: wrap;"></div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit_file" disabled>上传</button>
            <div class="progress-outside" style="display: flex; align-items: center;opacity: 0; margin: 10px 0">
                <span class="upload-remain" style="margin-right: 10px;">0:00:00s</span>
                <div class="progress" style="width: 100%; ">
                    <div class="progress-inner progress-bar progress-bar-striped progress-bar-animated"
                        style="width: 0%">0%
                    </div>
                </div>
                <span class="upload-speed" style="margin-left: 10px;">0 KB/s</span>
            </div>

        </div>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item"><a href="/?name=../" id="prev">..</a></li>

            {% for file in files %}
            <li class="list-group-item">
                <a href=" /?name={{file}}">{{file.name}}</a>
                {% if file.is_file()%}
                &nbsp;&nbsp;&nbsp;
                {% with size=(file.stat().st_size / 1024) %}
                <span>{{size|round(2)|string +'KB' if size < 1024 else (size / 1024)|round(2)|string +'MB'}}</span>
                        {% endwith %}
                        &nbsp;&nbsp;&nbsp;
                        <a class="badge text-bg-primary" href="/?name={{file}}" download>下载</a>
                        {% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/dropzone.min.js"></script>
    <script>
        //时间格式转换：
        function time_format(s) {
            var t;
            if (s > -1) {
                var hour = Math.floor(s / 3600);
                var min = Math.floor(s / 60) % 60;
                var sec = s % 60;
                var day = parseInt(hour / 24);
                if (day > 0) {
                    hour = hour - 24 * day;
                    t = day + "day " + hour + ":";
                }
                else t = hour + ":";
                if (min < 10) {
                    t += "0";
                }
                t += min + ":";
                if (sec < 10) {
                    t += "0";
                }
                t += sec;
            }
            return t;
        }
    </script>
    <script>
        Dropzone.autoDiscover = false; //取消自动发现
        var myDropzone = new Dropzone('#dropfile', {
            url: "/upload",
            method: "post",
            paramName: "file",
            uploadMultiple: false,  // uploadMultiple 与 chunking 不能共存
            filesizeBase: 1024,  // 1000 还是 1024 作为基数单位
            chunking: true,
            forceChunking: true,
            chunkSize: 1024 * 1024 * 20, // 20MB
            maxFilesize: 1024 * 1024 * 1024 * 5, // 最大5GB文件
            autoProcessQueue: false,  // 拖入文件立即自动上传
            parallelUploads: 1,
            dictDefaultMessage: '拖动文件至此或者点击上传',
            //dictMaxFilesExceeded: "您最多只能上传1个文件！",
            dictResponseError: '文件上传失败!',
            //dictInvalidFileType: "文件类型只能是*.jpg,*.gif,*.png,*.jpeg。",
            dictFallbackMessage: "浏览器不受支持",
            dictFileTooBig: "文件过大上传文件最大支持.",
            dictRemoveFile: "删除",
            dictCancelUpload: "取消",
            previewTemplate: `<div class="dz-file-preview" style="margin: 0.5em 2em;">
            <button type="button" class=" btn btn-primary position-relative" data-dz-remove>
                <div class="dz-filename">
                    <span data-dz-name></span>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" data-dz-size></span>
                </div>
            </button>
        </div>`,
            previewsContainer: 'div.preview-container',
            init: function () {
                var start = 0
                console.log('init')
                document.querySelector('#submit_file').addEventListener('click', () => {
                    if (this.getAcceptedFiles().length !== 0) {
                        this.processQueue();
                        start = performance.now()
                    }
                })
                this.on('addedfile', function (file) {
                    document.querySelector('#submit_file').removeAttribute('disabled')
                    document.querySelector('.progress-outside').style.opacity = 0
                    document.querySelector('.progress-inner').style.width = 0 + "%"
                    document.querySelector('.progress-inner').innerHTML = 0 + "%"
                })
                this.on('removedfile', function (file) {
                    // console.log(this.getAcceptedFiles())
                    // console.log(this.getRejectedFiles())
                    // console.log(this.getQueuedFiles())
                    // console.log(this.getUploadingFiles())
                    if (this.getAcceptedFiles().length == 0) {
                        document.querySelector('#submit_file').setAttribute('disabled', true)
                    }
                })
                this.on('uploadprogress', function (file, progress, sentSize) {
                    var duration = (performance.now() - start) / 1000 // s
                    document.querySelector('.progress-outside').style.opacity = 100
                    document.querySelector('.progress-inner').style.width = progress + "%"
                    document.querySelector('.progress-inner').innerHTML = parseInt(progress) + "%"
                    var remain
                    var speed
                    var sentKb = sentSize / 1024
                    var totalKb = file.size / 1024
                    var sentMb = sentKb / 1024
                    var totalMb = totalKb / 1024
                    if (sentKb <= 1024) {
                        speed = (parseFloat(sentKb) / duration).toFixed(2) + " KB/s"
                        remain = (totalKb - sentKb) / parseFloat(speed)
                    } else {
                        speed = (parseFloat(sentMb) / duration).toFixed(2) + " MB/s"
                        remain = (totalMb - sentMb) / parseFloat(speed)
                    }
                    document.querySelector("span.upload-speed").innerHTML = speed ?? "0 KB/s";
                    document.querySelector("span.upload-remain").innerHTML = time_format(parseInt(remain))
                    if (progress >= 100) {
                        console.log('finished')
                        document.querySelector("span.upload-remain").innerHTML = "0:00:00s";
                        document.querySelector("span.upload-speed").innerHTML = "0 KB/s";
                    }
                })
                this.on('success', function (file, callback) {
                    this.removeFile(file);
                    if (this.getQueuedFiles().length != 0) {
                        this.processQueue()
                        start = performance.now()
                    }
                })
                this.on('queuecomplete', () => {
                    // 队列中的所有文件上传完成时。
                    console.log('hh')
                    setTimeout(() => { location.reload() }, 2000)
                })
                this.on("error", function (file, data) {
                    // 上传失败触发的事件
                    document.querySelector('.progress-inner').classList.add('bg-danger')
                    document.querySelector('.progress-inner').style.width = 100 + "%"
                    document.querySelector('.progress-inner').innerHTML = 'error!'
                    this.removeAllFiles() // true 删除所有文件，包括正在上传的文件
                    setTimeout(() => { location.reload() }, 2000)
                });
            }
        })
    </script>

</body>

</html>